@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(
        40deg,
        hsl(240deg 100% 17%) 0%,
        hsl(237deg 100% 15%) 21%,
        hsl(237deg 100% 12%) 34%,
        hsl(240deg 95% 9%) 45%,
        hsl(241deg 100% 8%) 55%,
        hsl(240deg 100% 7%) 65%,
        hsl(240deg 100% 7%) 77%,
        hsl(0deg 0% 0%) 100%
    );
}
h1{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    line-height: 77px;
    letter-spacing: -0.64px;
    background: linear-gradient( 228deg, #ffffff, #4433ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section{
    width: 100%;
    height: 70%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.38 );
}
.container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.boxChange{
    display: flex;
    height: 10%;
}
.btnSet{
    min-width: 130px;
    height: 40px;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border: 2px solid #4433ff;
    background: #4433ff;
}
.btnCod:hover {
    background: #fff;
    color: #4433ff
}
form{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.entryCode{
    width: 100%;
    height: 160px;
    display: block;
    float: left;
    resize: none;
    font-size: 25px;
    border-radius: 30px 30px 0px 0px;
    border: hidden;
    padding: 20px;
    outline: none;
  }
.entryCode::placeholder{
    color: #4433ff;
}
.exitCode{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    float: left;
    position: relative;
    font-size: 25px;
    border: hidden;
    padding: 15px;
    color: white;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);

    border-radius:0 0 30px 30px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.iconCopy{
    fill: white;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    cursor: pointer;
    position: relative;
}
.iconCopy:hover{
    fill: #4433ff;
}
.iconCopy:active{
    top:2px;
}
.modal{
    width: 60px;
    height: 20px;
    display: none;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;

    position: absolute;
    right: 3%;
    top: 30%;
    z-index: 999;
    background-color: #4433ff;
}
.menuButtons{
    width: 100%;
    max-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.btnDesloc{
    width: 45px;
    height: 30px;
    display: block;
    float: left;
    outline: none;
    border: hidden;
    border-radius: 30px;
    padding-left: 9px;
    margin: 5px 0px;
    font-size: 1.2rem;
}

.boxRadio{
    display: inline-flex;
    border-radius: 9999px;
    padding: 0.25rem;
    margin: 5px 0px;
    background-color: white;
    color: #4433ff;
}

.labelRadio{
    border-radius: 9999px;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 13px;
}

.preSelected{
    background-color: #fff;
    color: #4433ff;
}

.inputRadio {
    display: none;
}
.btnEnviar{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 0px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 9999px;
    border: none;
    background: #4433ff;
}
.btnEnviar:hover {
    background-color: white;
    color: #4433ff;
}
.btnEnviar:active {
    top: 2px;
}
